<div style="display: flex; justify-content: center; align-items: center">
  <img src="https://raw.githubusercontent.com/Rocketseat/bootcamp-gostack-desafio-10/master/.github/logo.png"
    alt="fastfeet" style="height: 20px;padding: 30px;" />
</div>
